html {
  font-size: 10px;
}

p {
  margin: 0;
}

input {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
  border: none;
}

body {
  font-family: "SFProDisplay-Regular", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #2f3035;
}

.page-section {
  margin-bottom: 8rem;
}

.container {
  max-width: 123rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.basket {
  position: relative;
}

.basket__num {
  font-family: "SFProDisplay-Medium", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2rem;
  position: absolute;
  right: -14px;
  bottom: -15px;
  width: 2rem;
  height: 2rem;
  color: #fff;
  background-color: #1c62cd;
  border-radius: 50%;
  text-align: center;
}

//

.swiper {
  margin: 0;
}

.swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  border: 2px solid #fff;
  background-color: transparent;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper-horizontal > .swiper-pagination-bullets {
  bottom: 4rem;
}

.swiper-button-next,
.swiper-button-prev {
  background-repeat: no-repeat;
}

.swiper-button-next {
  right: 1.4rem;
  background-image: url("../images/arrow-right.svg");
}
.swiper-button-prev {
  left: 1.4rem;
  background-image: url("../images/arrow-left.svg");
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}
