html {
  font-size: 10px;
}

body {
  font-family: "SFProDisplay-Regular", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #2f3035;
}

.container {
  max-width: 123rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.basket {
  position: relative;
}

.basket__num {
  font-family: "SFProDisplay-Medium", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2rem;
  position: absolute;
  right: -14px;
  bottom: -15px;
  width: 2rem;
  height: 2rem;
  color: #fff;
  background-color: #1c62cd;
  border-radius: 50%;
  text-align: center;
}
